<h1> <%=@product.name %> </h1>

<h2> $<%=@product.price%>0 </h2>

<p> A flying animal of your choice - fantastic for reaching high places </p>

<%= form_tag("/cart", method: "post") do %>
<%= hidden_field_tag(:id, @product.id) %>
<%= submit_tag("Add to cart") %>
<%end %>

<div>
<a class="btn btn-danger" href="/products">Home</a>
</div>
