<!DOCTYPE html>
<html>
<head>
  <title>BuyItAll</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>
</head>
<body>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end %>

  <div>
<%=link_to "home",'/products'%>
<%=link_to "cart",'/cart'%>
  </div>

<%= yield %>

</body>
</html>
